In [34]:
from scipy.io import loadmat
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import pickle

In [24]:
forces_noise = loadmat("../../../../tau_all_noise.mat")
forces = loadmat("../../../../tau_all.mat")
states_noise = loadmat("../../../../xs_all_noise.mat")
states = loadmat("../../../../xs_all.mat")

In [25]:
pd.DataFrame(forces_noise["tau_all"].squeeze()[0].T)

               0         1         2             3
0      21.582000  0.000000  0.000000  0.000000e+00
1      28.842000  0.000000  0.000000 -2.500000e-01
2      28.842000 -0.004848  0.198432 -2.500000e-01
3      28.812944 -0.004882  0.198289 -2.489069e-01
4      28.783856 -0.004877  0.175680 -2.477922e-01
...          ...       ...       ...           ...
19996  21.584105 -0.000055  0.000027 -8.467232e-07
19997  21.584105 -0.000051  0.000013 -8.456328e-07
19998  21.584105 -0.000055  0.000015 -8.445793e-07
19999  21.584105 -0.000048  0.000037 -8.433972e-07
20000  21.584105 -0.000054  0.000049 -8.423198e-07

[20001 rows x 4 columns]

In [27]:
forces_noise_pp = [forces_noise["tau_all"].squeeze()[i].T for i in range(len(forces_noise["tau_all"].squeeze()))]
forces_pp = [forces["tau_all"].squeeze()[i].T for i in range(len(forces["tau_all"].squeeze()))]
states_noise_pp = [states_noise["xs_all"].squeeze()[i].T for i in range(len(states_noise["xs_all"].squeeze()))]
states_pp = [states["xs_all"].squeeze()[i].T for i in range(len(states["xs_all"].squeeze()))]

In [28]:
pd.DataFrame(forces_noise_pp[1])

               0         1         2             3
0      21.582000  0.000000  0.000000  0.000000e+00
1      28.842000  0.000000  0.000000 -2.500000e-01
2      28.842000 -0.004845  0.198428 -2.500000e-01
3      28.812944 -0.004887  0.198260 -2.489069e-01
4      28.783856 -0.004879  0.175676 -2.477922e-01
...          ...       ...       ...           ...
19996  21.584105 -0.000050  0.000024 -8.490083e-07
19997  21.584105 -0.000053  0.000008 -8.478545e-07
19998  21.584105 -0.000053  0.000020 -8.466222e-07
19999  21.584105 -0.000056  0.000041 -8.454497e-07
20000  21.584105 -0.000054  0.000018 -8.442790e-07

[20001 rows x 4 columns]

In [31]:
len(forces_noise_pp), len(forces_pp), len(states_noise_pp), len(states_pp)

(1000, 1000, 1000, 1000)

In [35]:
forces_large = forces_noise_pp + forces_pp
states_large = states_noise_pp + states_pp
len(forces_large), len(states_large)

(2000, 2000)

In [36]:
with open("forces_states_large.pkl", "wb") as f:
    pickle.dump([forces_large, states_large], f)