In [1]:
from scipy.io import loadmat
import pandas as pd
from sklearn.preprocessing import normalize
import numpy as np

In [2]:
def preprocessing_from_matlab_new(matlab_file_path):
    data_file_raw = loadmat(matlab_file_path)
    data_name = list(data_file_raw.keys())[-1]
    data = data_file_raw[data_name].squeeze()
    for variable in data:
        yield variable.T

In [3]:
xs = preprocessing_from_matlab("/home/gabriel/Documents/matlab_files/xs_all.mat")

In [4]:
next(xs).shape

(20001, 12)

In [111]:
def normalize_data_new(data):
    for item in data:
        yield normalize(item, 
                        return_norm=True,
                        axis=0)

In [112]:
xs_and_xs_norms = normalize_data(xs)

In [113]:
for a, b in xs_and_xs_norms:
    print(a.shape)
    print(b.shape)
    break

(20001, 12)
(12,)

In [1]:
a = range(10)

In [4]:
list(range(10))[4:]

[4, 5, 6, 7, 8, 9]

In [3]:
xs = loadmat("/home/gabriel/Documents/matlab_files/xs_all.mat")
tau = loadmat("/home/gabriel/Documents/matlab_files/tau_all.mat")

In [41]:
list(xs.keys())[-1]

'xs_all'

In [23]:
xs1 = xs["xs_all"].squeeze()
tau1 = tau["tau_all"].squeeze()

In [35]:
pd.DataFrame(xs1[0].T).tail()

,0,1,2,3,4,5,6,7,8,9,10,11
19996,-0.246068,0.127513,1.243422e-09,0.003246,0.006272,-0.000001,0.254733,0.487787,3.0,0.012391,-0.006443,0.000002
19997,-0.246195,0.127270,1.221395e-09,0.003240,0.006275,-0.000001,0.254241,0.488042,3.0,0.012397,-0.006430,0.000002
19998,-0.246321,0.127026,1.199362e-09,0.003234,0.006279,-0.000001,0.253748,0.488296,3.0,0.012404,-0.006418,0.000002
19999,-0.246447,0.126783,1.177325e-09,0.003228,0.006282,-0.000001,0.253255,0.488550,3.0,0.012410,-0.006405,0.000002
20000,-0.246572,0.126539,1.155283e-09,0.003222,0.006285,-0.000001,0.252762,0.488803,3.0,0.012417,-0.006393,0.000002

In [11]:
from sklearn.preprocessing import normalize

def preprocessing_from_matlab(data, n_data=20001):
    key = list(data.keys())[-1]
    all_data = data[key].squeeze()
    all_data_normalized = []
    all_data_norms = []

    for data in all_data:
        data_normalized, data_norms = normalize(X=data.T[:n_data],
                                                axis=0,
                                                return_norm=True)
        data_norms
        all_data_normalized.append(data_normalized)
        all_data_norms.append(data_norms)

In [2]:
path_to_states = "/home/gabriel/Documents/matlab_files/xs_all.mat"
path_to_forces = "/home/gabriel/Documents/matlab_files/tau_all.mat"

In [3]:
states_raw = loadmat(path_to_states)
forces_raw = loadmat(path_to_forces)

In [13]:
states = preprocessing_from_matlab(states_raw)
forces = preprocessing_from_matlab(forces_raw)

In [16]:
print(states)

None